/* ===ADMIN FORMS=== */
.header-form {
    background-color: rgb(114, 7, 163);
    color: antiquewhite;
}

.btn.btn-form {
    background-color: rgb(114, 7, 163);
    color: antiquewhite;
}

.footer-form {
    background-color: rgb(114, 7, 163);
    color: antiquewhite;
}

.footer-form a {
    color: antiquewhite;
}

.bg-form {
    background-color: #878ddb;
}

/* <<<===ADMIN FORMS=== */
